.list {
    position: relative;
}

.list__items {
    position: absolute;
    max-height: 150px;
    width: max-content;
    overflow-y: scroll;
    visibility: hidden;
    pointer-events: none;
}

.list__items.input {
    visibility: visible;
    pointer-events: auto;
}

.list__item {
    cursor: pointer;
}
.list__item:hover {
    background-color: #e0dddd;
}